#{extends 'main.html' /}
#{set title:'Demo' /}

#{set 'moreScripts'}
    #{scripts /}
    <script type="text/javascript" src="@{'/public/bespin/BespinEmbedded.js'}"></script>
#{/set}

#{set 'moreStyles'}
    <link href="@{'/public/bespin/BespinEmbedded.css'}" type="text/css" rel="stylesheet">
    <style>
        .bespin {  margin: 0; padding: 0; border: 0; height: 600px; border: 10px solid #ddd; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
        .bespin canvas {
            cursor: text;
        }
        #pad {position: absolute; right: 20px; top: 10px; left: 600px; bottom: 10px;}
        #world {background: #444;}
        #control {display: none;}
  form {
    width: 500px;
  }
  input, textarea {
    width: 100%;
  }
    </style>
#{/set}


#{form @update()}
<p style="display: none;">
  <label for="script">Script :</label>
  <textarea id="script" name="script" rows="1">#{if robot.localScript}${robot.localScript}#{/if}#{else}importScripts('robot.js');

var CrazyRobot = Robot.extend({
    
    direction: 'ahead',
    
    play: function(state) {

        if(this.direction == 'ahead') {
            this.ahead()
        } else {
            this.back()
        }

        this.turnRight()
        this.turnGunRight()
        this.fire(1)
        
    },
    
    onRobotScanned: function(enemy) {
        this.fire(3.5)
    },
    
    onHitWall: function() {
        this.direction = this.direction == 'ahead' ? 'back' : 'ahead'
    }
    
})

new CrazyRobot()#{/else}</textarea>
</p>
<p>
    <label for="name">Nom du robot :</label>
    <input id="name" name="name" type="text" value="${robot.name}" />
  </p>
  <p class="buttons">
    <button id="sendit">Envoyer à la télé</button>
    <a href="#" id="save">Sauvegarder localement</a>
  </p>
#{/form}


<canvas id="world" width="500" height="500"></canvas>

<p id="control">
    <a href="#" id="start">Start</a> - <a href="#" id="labels">Draw labels</a> - <a href="#" id="scans">Show scans</a> - <a href="#" id="restart">Restart</a>
</p>

<div id="pad">
<div id="editor" class="bespin" data-bespinoptions='{ "settings": { "tabstop": 4 }, "syntax": "js", "stealFocus": true }'></div>
</div>

<script type="text/javascript" charset="utf-8">

    #{if robot.localScript}
    
    var robotURL = #{jsAction @Application.robot(':name')/}    
    
    var crazy = new RobotDescription(robotURL({name: 'crazy'}));
    
    var robots = [crazy];
    var robot = robots.push(new RobotDescription("@{Robots.robot(robot.id, 'sitting', true)}"));
    
    #{list items: robots}
      robots.push(new RobotDescription("@{Robots.robot(_.id)}"));
    #{/list}
    
    var game = new Game('world', robots, function() {
        
        $('#control').show()
        
    })
    
    $('#start').click(function() {
        switch($(this).html()) {
            
            case 'Pause':
                game.stop()
                $(this).html('Continue')
                break
                
            default:
                game.start()
                $(this).html('Pause')
                break
            
        }
    })    
    
    $('#labels').click(function() {
        switch($(this).html()) {
            
            case 'Draw labels':
                Configuration.drawText = true
                game.repaint()
                $(this).html('Hide labels')
                break
                
            default:
                Configuration.drawText = false
                game.repaint()
                $(this).html('Draw labels')
                break
            
        }
    })
    
    $('#scans').click(function() {
        switch($(this).html()) {
            
            case 'Show scans':
                Configuration.scanVisible = true
                game.repaint()
                $(this).html('Hide scans')
                break
                
            default:
                Configuration.scanVisible = false
                game.repaint()
                $(this).html('Show scans')
                break
            
        }
    })
    
    $('#restart').click(function() {
        
        game.restart()
        $('#start').html('Start')
        
    })
    
    #{/if}
    
    
    window.onBespinLoad = function(){
        $('#editor')[0].bespin.value = $("#script").val();
        game.reload(robot);
    };
    $(document).bind("keyup", function(){
        var code = $('#editor')[0].bespin.value;
        $("#script").val(code);
    });
    
    $('#save').click(function(){
        var code = $('#editor')[0].bespin.value;
        $("#script").val(code);
        var saveAction = #{jsAction @updateLocal() /}
        $.post(saveAction(), {script: code}, function() {
            game.reload(robot);
        })
    });
    
</script>

