* { margin:0;padding:0;outline:0;border:0; }

html, body, #wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font: 13px arial, sans-serif;
}

#wrapper {
	background: black;
}

header {
	display: block;
	height: 78px;
	background: url(../images/steps.png) center center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696767), to(#3a3a39));
	background: url(../images/steps.png) center center no-repeat, -moz-linear-gradient(top, #696767, #3a3a39);
	
	border-top: 1px solid #3e3e3e;
	border-bottom: 1px solid #1b1b1a;
}

footer {
	display: block;
	height: 39px;
	line-height: 39px;
	padding: 0 10px 0 190px;
	background: url(../images/players.png) 0 0 no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111));
	background: url(../images/steps.png) center center no-repeat, -moz-linear-gradient(top, #333, #111);
	border-bottom: 1px solid #000;
}

footer li {
	display: inline-block;
	padding: 0 20px;
	color: #ccc;
	text-shadow: 1px 1px 0 #000;
	font-size: 24px;
}

#map {
	width: 1920px;
	height: 960px;
	background: url(../images/map.png) no-repeat;
}

#debug {
	display: none;
}
#debug:target {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: white;
	
}

@-webkit-keyframes bounce {
 from {
	color: #000;
	font-size: 30px;
 }
 50% {
	color: #4b3309;
	font-size: 20px;
 }
 to {
	color: #000;
	font-size: 30px;
 }
}

#timetime {
	position: absolute;
	top: 0;
	left: 0;
	height: 76px;
	line-height: 76px;
	width: 78px;
	border: 1px solid #925e02;
	background: url(../images/timer.png) 0 0 no-repeat;
	font-size: 30px;
	font-weight: bold;
	color: #4b3309;
	text-shadow: 1px 1px 0 #fff;
	text-align: center;
	-webkit-animation: bounce 1s infinite alternate linear;
}