<script type="text/javascript" src="@{'/public/javascripts/oo.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/utils.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/loader.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/geometry.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/explosions.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/bullets.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/timer.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/medias.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/configuration.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/game.js'}"></script>